@charset "utf-8";

html {
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, Helvetica, sans-serif;
  word-break: break-word;
  line-height: 1.15;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, header, footer {
  font-family: 'Noto Sans JP', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: 900;
  letter-spacing: -.1rem;
}
header, footer {
  font-weight: 400;
}
h1 {
  color: #555;
  padding: 1.2rem 0 .7rem;
  font-size: var(--t1);
}
h2 {
  color: #333;
  padding: 1rem 0 .3rem;
  font-size: 2.2rem;
}
h3 {
  padding: .8rem 0 .3rem;
  font-size: 1.8rem;
}
h4 {
  padding: .7rem 0 .2rem;
  font-size: 1.3rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.85;
  padding-bottom: 1rem;
}
ul {
  list-style-type: circle;
  padding: 1rem 0 1.5rem 1.5rem;
  font-size: 1.3rem;
}
ol {
  padding: 1rem 0 1.5rem 2.6rem;
  font-size: 1.3rem;
}
ul ul {
  list-style-type: disc;
  padding: 1rem 0 0 1rem;
  font-size: .8rem;
}
li {
  padding: 0 0 .8rem .5rem;
}
p {
  margin: 0;
  padding: 0 0 1rem;
  font-size: 1rem;
  line-height: 1.7;
}
em {
  font-style: normal;
  background: linear-gradient(transparent 50%, $primary-light 0%);
}
hr {
  margin-top: 2rem;
  border-top: 1px solid #000;
  border-bottom: none;
  height: 1px;
}
blockquote {
  padding: 1rem 0 0 1.5rem;
  border-left: 1px solid #000;
  margin-bottom: 1.5rem;
  margin-left: -1.5rem;
  width: 100%;
  background-color: #f5f5f5;
}
footer,
footer a {
  color: #555;
}
footer li {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000;
}
