/* --primary: '#CEC0D9' */
:root {
  --primary: #5c2ab1;
  --secondary: #CEC0D9;
  --complementary: #80b12a;
  --analogous: #2a3cb1;
  --analogous-secondary: #9f2ab1;
  --triadic: #b12a80;
  --triadic-secondary: #b15c2a;
  --text: #221822;
}
